* {
	margin:0px;
	padding:0px;
	border:0px;
}



.slider{
  margin-left: 350px;

  margin-top: 120px;

}

. slider img{
  width: 100%;
    height: auto;
}
ul{
  list-style-type: none;
}
body{
  background: linear-gradient(to right,  #ffffff 0%,#e5e5e5 100%);
  animation-name:color;
    animation-duration: 4s;
}
@keyframes color {
  from {background-color: red;}
   to {background-color: yellow;}

}

h1 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	color:#666666;
	font-size:50px;
	margin-bottom:30px;
}
#next{
  margin-left:1100px;
  margin-top:-100px;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;

}
#prev{
  margin-top:-350px;
  margin-left:100px;
}

@media only screen and (max-width: 600px) {
  .slider{
    margin-left: 350px;

    margin-top: 120px;

  }

  . slider img{
    width: 100%;
      height: auto;
  }




}
